cryptography==44.0.2
matplotlib==3.9.4
nc_py_api==0.0.43
numpy==2.0.2
Pillow==11.2.0
plotly==6.0.1
pycryptodome==3.15.0
schedule==1.2.0
requests==2.32.3
oschmod==0.3.12
pytest==8.0.2
flake8==7.1.0
pyinstaller==6.5.0
customtkinter==5.2.2
bcrypt==4.1.2
pdfminer.six==20250327

